@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

html {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f0db4e;
	color: #323230;
	font-family: 'Roboto Slab', serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
	text-align: center;
}

.code-block {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}

.code-block > p {
	margin: 0 auto;
	padding-bottom: 2rem;
	max-width: 440px;
}

.code-block > div {
	padding-bottom: 1.5rem;
}
